@media (max-width: 767px) {
  .logo {
    text-align: center;
    padding-top: 110px;
  }
  .holiday-dream {
    padding-top: 40px;
    text-align: center;
  }

  .holiday-section-sub-title {
    display: block;
    padding: 20px 0;
  }

  .partners-item {
    margin-bottom: 30px;
  }
  .partners-section-button {
    margin-bottom: 58px;
  }
  .partners-item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .page-header {
    min-height: 700px;
  }
  .partners-item {
    height: 245px;
  }
  .partners-list .partners-item:nth-child(1) {
    margin-right: 20px;
  }
  .partners-list .partners-item:nth-child(2) {
    margin-right: 20px;
  }
  .page-header {
    padding-top: 40px;
  }
  .holiday-dream {
    padding-top: 136px;
  }
  .holiday-section-title {
    font-size: 52px;
    margin-bottom: 36px;
  }
  .holiday-section-sub-title {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .holiday-button {
    padding: 15px 25px;
    border-radius: 25px;
  }

  .partners-section-button {
    padding: 42px 0;
  }
  .partners-item:nth-child(odd) {
    margin-bottom: 38px;
  }
}

@media (min-width: 942px) {
  .container {
    max-width: 942px;
  }
  .holiday-section-sub-title {
    font-weight: 300;
  }
  .page-header {
    padding: 0;
    padding-top: 38px;
  }
  .title-section-parners {
    margin-bottom: 38px;
  }
  .partners-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 942px;
  }
  .partners-item {
    margin-bottom: 0;
  }
  .flex-man {
    order: 1;
  }
  .flex-second-girl {
    order: 2;
  }
  .partners-list .partners-item:not(:last-child) {
    margin-right: 20px;
  }
  .partners-section-button {
    padding-top: 0;
  }
}
